{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "comma-dangle": 0,
    "strict": 0,
    "no-unused-vars": [1, {"args": "none", "varsIgnorePattern": "React"}],
    "no-console": 1,
    "react/react-in-jsx-scope": 1
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ]
}
